<div class="about-container">
  <h1 class="text-center">About</h1>
  <p class="text-center mb-5">Express yourself! Write your own Lorem ipsum text...</p>

  <div class="row mb-5 d-flex justify-content-between">
    <div class="col-8">
      <div class="vertical-line mr-5"></div>
      <h3><span class="color-text">NEW</span> HEADING</h3>
      <h4>CREATE/DESIGN CONTENT</h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui quasi <span class="color-text">distinctio
        maiores</span> quo fuga velit. Ipsa
      provident dolorem est, <a href="#" class=" link-light link-underline-light"> Dolores link </a> nemo pariatur nulla
      culpa, expedita nobis repellat in laboriosam
      exercitationem neque sit,
      doloribus nesciunt? blanditiis odit molestiae laboriosam cumque?
    </div>
    <div class="col-4 btn-wrapper">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Open Modal
      </button>
    </div>
  </div>

  <ul class="mb-5">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </ul>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos aperiam obcaecati voluptatum voluptas
          distinctio magni dignissimos culpa mollitia tenetur, quis minus illum nostrum totam in sunt sapiente vero et
          recusandae?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-end">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Item title</td>
          <td>Here goes item description in my fancy table</td>
          <td class="text-end">$100.00</td>
        </tr>
        <tr>
          <td>Item title</td>
          <td>Here goes item description in my fancy table</td>
          <td class="text-end">$10.00</td>
        </tr>
        <tr>
          <td>Item title</td>
          <td>Here goes item description in my fancy table</td>
          <td class="text-end">$5287.00</td>
        </tr>
        <tr>
          <td>Item title</td>
          <td>Here goes item description in my fancy table</td>
          <td class="text-end">$412.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>