<div class="store-container">
  <h1 class="text-center">Grid</h1>
  <p class="text-center mb-5">Below presented <span class="color-text">responsive gallery</span>.</p>

  <div class="grid-container">
    <div class="grid-item item1">
      <img src="../../../assets/img/004.jpg" class="img-fluid item-img" alt="Apple">
    </div>
    <div class="grid-item item2">
       <img src="../../../assets/img/003.jpg" class="img-fluid item-img" alt="Apple">
    </div>
    <div class="grid-item item3">
       <img src="../../../assets/img/001.jpg" class="img-fluid item-img" alt="Apple">
    </div>
    <div class="grid-item item4">
       <img src="../../../assets/img/002.jpg" class="img-fluid item-img" alt="Apple">
    </div>
  </div>
</div>