<div class="carousel-container">

  <header>
    <div class="logo-placeholder">
      <img src="../../../assets/img/logo.png" class="img-fluid logo-img" alt="logo">
    </div>
    <div class="cart-indicator">Cart <span class="cart-indicator-number"> 3</span> </div>
  </header>

  <div class="carousel-navigation">
    <div class="carousel-control-prev" (click)="prevSlide()">&#10094;</div>
    <div class="carousel-control-next" (click)="nextSlide()">&#10095;</div>
  </div>

  <div class="carousel-content">
    <div class="carousel slide carousel-fade" id="productCarousel" data-bs-ride="carousel">

      <div class="carousel-inner">
        @for (item of slides; track item; let i = $index) {
        <div class="carousel-item active" [class.active]="i === 0">
          <div class="d-flex align-items-center justify-content-center text-white">
            <div class="text-center">
              <h2>{{item.title}}</h2>
              <div class="price">
                <p mt-5 mb-5><del class="mr-5">{{item.price+200}}</del> <span
                    class="new-price ml-5">${{item.price}}</span></p>
              </div>

              <div class="add-to-cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                  class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg> ADD TO CART
              </div>
            </div>
            <div class="product-image">
              <img [src]="item.image" class="img-fluid" alt="Apple">
            </div>

          </div>
        </div>
        }
      </div>

    </div>
  </div>

</div>